.globals-picker {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  color: white;
}
